{% extends "base.html" %}
{% load static %}

{% block title %}
    <header>
        <h1>Detalle del alumno</h1>
    </header>
{% endblock title %}

{% block content %}
<a href="/myapp/alumnos/">Alumnos</a>

<h2>Información del alumno</h2>
<div>
    <p><strong>ID:</strong> {{alumno.id}}</p>
    <p><strong>Nombre:</strong> {{alumno.first_name}}</p>
    <p><strong>Apellido:</strong> {{alumno.last_name}}</p>
    <p><strong>Email:</strong> {{alumno.email}}</p>
    <p><strong>Phone:</strong> {{alumno.generacion}}</p>
</div>
<br>
<a href="{% url 'myapp:alumnos_update' pk=alumno.id %}">Editar Alumno</a>
    
{% endblock content %}