{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>Curso {{curso.name}} Generación {{curso.generation}}</h1>
    <h2>Profesor</h2>
    <ul>
        {% for profesor in curso.profesores %}
        <li>{{profesor}}</li>
        {% endfor %}
    </ul>



    
    <ul>
        {# comentarios #}
        {% for alumno in alumnos %}
            {% if alumno.isActive == True %}
            <li class="active">{{alumno.first_name|upper}} {{alumno.last_name}}</li>
            {% else %}
            <li class="inactive">{{alumno.first_name|upper}} {{alumno.last_name}}</li>
            {% endif %}
        {% endfor %}
    </ul>


</body>
</html>




