<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {# Esto es un comentario #}
    <h1> Hola {{name|upper}} {{last_name|lower|default:"Sin apellido"}} </h1>
    El nombre {{name|title}} tiene un largo de {{name|length}}
    <br/>
    Apellido: {{last_name|truncatewords:2}}
    <br/>
    Nombre: {{name|truncatechars:2}}

</body>
</html>


